.user-info {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  color: #5e5e5e;
  div {
    h2 {
      font-size: em(22px);
      margin: 15px;
      margin-left: 0;
    }
    p {
      margin-bottom: 16px;
    }
  }
  .underline {
    border-color: rgba(0, 0, 0, 0.12);
  }
  .date-time {
    div {
      width: 70%;
    }
  }
}
