.bm-menu {
  padding-top: 0 !important;
  background-color: white !important;
  z-index: 10000 !important;
  .fa {
    margin-right: 16px;
    color: black !important;
  }
  .divider {
    border-color: rgba(0, 0, 0, 0.12);
  }
  .menu-container {
    nav ul {
      li {
        a {
          font-size: rem(18px);
          width: 100%;
        }
        h2 {
          line-height: 30px;
        }
      }
    }

    .logout {
      border: none;
      background: transparent;
      font-size: rem(18px);
      padding: 0;
      color: $clr1;
    }
  }
}

.bm-cross-button .bm-cross {
  background: $clr1;
}

.bm-burger-button {
  z-index: 1000;
  height: 20px !important;
  width: 26px !important;
  left: 15px !important;
  top: 11px !important;
  position: fixed !important;
  .line-style {
    background-color: $clr1 !important;
  }
}
.bm-item-list {
  color: $clr1 !important;
  margin-left: 0 !important;
}

.header-bless {
  margin-left: 45px;
  img {
    max-width: 100px;
    cursor: pointer;
  }
  h2 {
    align-self: center;
    font-size: 1rem;
  }
}
@media screen and (max-width: rem(564px)) {
  .bm-burger-button {
    height: 16px !important;
    width: 20px !important;
    left: 15px !important;
    top: 13px !important;
  }
}

@media screen and (max-width: rem(414px)) {
  .bm-burger-button {
    left: 10px !important;
    top: 12px !important;
  }
  .header-bless {
    margin-left: 30px;
    h2 {
      font-size: 1rem;
    }
  }
}
