@font-face {
  src: url("../assets/fonts/Delius_Swash_Caps/DeliusSwashCaps-Regular.ttf");
  font-family: "swash";
}
@font-face {
  src: url("../assets/fonts/major/MajorMonoDisplay-Regular.ttf");
  font-family: "major";
}
@font-face {
  src: url("../assets/fonts/lato/Lato-Regular.ttf");
  font-family: "lato";
}
@font-face {
  src: url("../assets/fonts/lato/Lato-Light.ttf");
  font-family: "lato-light";
}
@font-face {
  src: url("../assets/fonts/lato/Lato-Bold.ttf");
  font-family: "lato-bold";
}
@font-face {
  src: url("../assets/fonts/HeptaSlab/HeptaSlab-VariableFont_wght.ttf");
  font-family: "slab";
}
@font-face {
  src: url("../assets/fonts/limeLight/Limelight-Regular.ttf");
  font-family: "limeLight";
}
@font-face {
  src: url("../assets/fonts/PetitFormal/PetitFormalScript-Regular.ttf");
  font-family: "Petit-formal";
}
@font-face {
  src: url("../assets/fonts/Tangerine/Tangerine-Bold.ttf");
  font-family: "Tangerine-Bold";
}
@font-face {
  src: url("../assets/fonts/Parisienne/Parisienne-Regular.ttf");
  font-family: "Parisienne-Regular";
}
@font-face {
  src: url("../assets/fonts/Dancing_Script/DancingScript-Regular.ttf");
  font-family: "DancingScript-Regular";
}
